.App {
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
}

/* table {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.eachMail:nth-child(even) {
  color: red;
}

.eachMail:nth-child(odd) {
  color: darkorchid;
}